@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Rubik:wght@300&display=swap');


.card {
  width: 300px;
  height:530px;
  border-radius: 20px;
  background-color: hsl(235, 46%, 20%);
  position: absolute; 
  top:200px;
  left:200px;
  display: block;
}



.profile{
  border-radius: 16px;
  background-color: hsl(246, 80%, 60%);
  height: 370px;
}

.img {
  width: 90px;
  border-style:solid;
  border-width: 2px;
  border-radius: 50px;
  border-color: white;
  margin-left: 40px;
  margin-top: 45px;
}

.p {
  font-size: 20px;
  position: relative;
  left:50px;
  color: hsl(236, 100%, 87%);
  font-family: 'Rubik' sans-serif;
  font-weight:lighter;
  
}

h1 {
  font-family: 'Rubik';
  font-size: 50px;
  position: relative;
  top: -10px;
  left: 50px;
  font-weight:lighter;
  color: hsl(236, 100%, 87%);
}

@media screen and (max-width:600px) {
  .card{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 300px;
    top:20px;
    left:30px;
  }
  
  .profile{
    display: flex;
    flex-direction: row;
  }

  .img {
    margin-left: 25px;
    margin-top: 35px;
    max-width: 70px;
    max-height: 70px ;
  }

  .p {
    position: absolute;
    width: 200px;
    height: 30px;
    left:130px;
    top:  10px;
    font-size: 24px ;
  }

  h1 {
    position: absolute;
    top: 25px;
    left: 130px;
  }
}